.App {
  text-align: center;
  color: white;
}

#hero {
  background-image: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('images/hero.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: purple;
  /* height: 65vh; */
  padding-top: 15em;
  padding-bottom: 15em;
}

#hero-text-wrapper {
  width: 50%;
  margin: auto;
}

#before-tabs {
  margin-bottom: 3rem;
}

#projects {
  /* background-color: black; */
  background-color: black;
  /* height: 100vh; */
  padding-top: 1.5em;
  padding-bottom: 2em;
}

/* .project-card {

} */

/* tablet screen or smaller */
@media (max-width: 1024px) {
  #hero {
    background-image: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('images/background.png');
  }

  #hero-text-wrapper {
    width: 80%;
    margin: auto;
  }
}

/* mobile */
@media (max-width: 480px) {
  #hero {
    padding-top: 5em;
    padding-bottom: 5em;
  }
}